<%= link_to root_path do %>
  <img class="goback" src="https://res.cloudinary.com/titavon/image/upload/v1615237711/Vector_pdzyn9.png">
<% end %>
<br>
<hr>
<h1 class="signup-title">Sign up</h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="signup-form-inputs">
    <%= f.input :first_name,
                required: true,
                autofocus: true %>
    <%= f.input :last_name,
                required: true,
                autofocus: true %>
    <%= f.input :username,
                required: true,
                autofocus: true %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :phone_number,
                required: true,
                autofocus: true %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="signup-form-actions btn">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<div class="back-login">
  <%= render "devise/shared/links" %>
</div>

