<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SignupModal">
  Sign Up
</button>

<!-- Signup Modal -->
<div class="modal fade" id="SignupModal" tabindex="-1" aria-labelledby="SignupModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SignupModalLabel">Create your account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="signup-container text-center">
            <img class="signupicon" src="https://res.cloudinary.com/titavon/image/upload/v1615223484/gg_profile_lg81vl.png">
      </div>
      <div class="modal-body">
        <div class="signupicon" style="position: absolute; height: 50px; width: 50px;" ></div>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

          <div class="up-form-inputs">
            <%= f.input :first_name,
                        required: true,
                        autofocus: true %>
            <%= f.input :last_name,
                        required: true,
                        autofocus: true %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :phone_number,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "phone_number" } %>
            <%= f.input :username,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "username" } %>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Create", class: "btn btn-primary create" %>
          </div>
        <% end %>
      </div>
     <!--  <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

