<div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<div class="sidebar">
     <button id="myLocation" class="btn btn-primary">share location</button>
     <div class="heading">
          <h1>Routes</h1>
     </div>
     <div id="reports" class="reports"></div>
</div>


<%= render "sidebar" %>
<%= render "alert_modal" %>
<%= render "trip_review" %>
<%= render "create_alert" %>
<%= render "describe_incident" %>

<button id="myLocation" class="btn btn-primary">share location</button>

<%= link_to 'Test', notify_alerts_path, method: :post %>

