 <%= link_to root_path do %>
  <img class="goback" src="https://res.cloudinary.com/titavon/image/upload/v1615237711/Vector_pdzyn9.png">
 <% end %>
<br>

<hr>

<h1 class="create-contact">Create new Contact</h1>

<%= simple_form_for(@contact) do |f| %>
  <div class="form-inputs">
    <%= f.input :first_name,
                required: true,
                autofocus: true %>
    <%= f.input :last_name,
                required: true,
                autofocus: true %>
    <%= f.input :phone_number,
                required: true,
                autofocus: true %>
    <%= f.input :email,
                required: true,
                autofocus: true %>
    <div class="is-emergency">
    <%= f.input :emergency_contact,
                required: true,
                autofocus: true %>
    </div>
  </div>


  <div class="btn-actions btn btn">
    <%= f.button :submit, "Create" %>
  </div>
<% end %>
