 <%= link_to root_path do %>
  <img class="goback" src="https://res.cloudinary.com/titavon/image/upload/v1615237711/Vector_pdzyn9.png">
 <% end %>
<br>
<hr>
<h1 class="title-new-address">Save address</h1>

 <div class="address-form-inputs">
  <%= simple_form_for(@address) do |f| %>
      <%= f.input :label,
                  required: true,
                  autofocus: true
                  %>
      <%= f.input :address %>

    <div class="address-btn-actions btn ">
      <%= f.button :submit, "Create" %>
    </div>
  <% end %>
</div>
